.grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .grid-wrapper .card {
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0;
    border-radius: 5px;
    background-color: #222222;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn; }
    .grid-wrapper .card:hover {
      cursor: pointer; }
  .grid-wrapper .card:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .grid-wrapper .card:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .grid-wrapper .card:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .grid-wrapper .card:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; }
  .grid-wrapper .card:nth-child(5) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .grid-wrapper .card:nth-child(6) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .grid-wrapper .card:nth-child(7) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
  .grid-wrapper .card:nth-child(8) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s; }
  .grid-wrapper .card:nth-child(9) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
  .grid-wrapper .card:nth-child(10) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .grid-wrapper .card:nth-child(11) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s; }
  .grid-wrapper .card:nth-child(12) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s; }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate(-100px, 0px);
            transform: translate(-100px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: translate(-100px, 0px);
            transform: translate(-100px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; } }
